<!DOCTYPE html>

<html>
	<head>
		<title>@Model.Title</title>
    @RenderSection("Styles", false)
    <script type="text/javascript" src="/Scripts/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.signalR-1.1.2.min.js"></script>
    <script type="text/javascript" src="signalr/hubs"></script>
  </head>
	<body>
    @RenderBody()

    @RenderSection("Javascript", false)
  </body>
</html>