<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.1" targetFramework="net45" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net45" />
  <package id="jQuery" version="2.1.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.1.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.JS" version="2.1.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.Owin" version="1.2.2" targetFramework="net45" />
  <package id="Microsoft.Owin" version="3.0.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.0.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Hosting" version="3.0.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Security" version="3.0.0" targetFramework="net45" />
  <package id="Nancy" version="0.23.2" targetFramework="net45" />
  <package id="Nancy.Bootstrappers.Windsor" version="0.23.2" targetFramework="net45" />
  <package id="Nancy.Owin" version="0.23.2" targetFramework="net45" />
  <package id="Nancy.Validation.DataAnnotations" version="0.23.2" targetFramework="net45" />
  <package id="Nancy.Viewengines.Razor" version="0.23.2" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.5" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net45" />
  <package id="Serilog" version="1.4.11" targetFramework="net45" />
  <package id="Serilog.Extras.MSOwin" version="1.4.11" targetFramework="net45" />
  <package id="Serilog.Extras.Topshelf" version="1.4.11" targetFramework="net45" />
  <package id="Topshelf" version="3.1.4" targetFramework="net45" />
</packages>