@{
	Layout = "layout.cshtml";
}
@section Javascript {
    <script>
        function ripperViewModel(progress) {
            var self = this;
            self.progress = ko.observable();
            if (progress) {
                self.progress(new progressViewModel(progress));
            }

            self.isRipping = ko.computed(function() {
                return self.progress() != null;
            });

            self.onRippingProgress = function(trackNumber, percentageComplete) {
                self.progress().Tracks()[trackNumber - 1].PercentageComplete(percentageComplete);
            };

            self.onStatusChanged = function(currentStatus) {
                if (currentStatus) {
                    self.progress(new progressViewModel(currentStatus));
                } else {
                    self.progress(null);
                }
            };

			self.cancelRipping = function(){
				$.post("ripper/cancel");
			};
        }

        function progressViewModel(progress) {
            var self = this;
            self.AlbumTitle = progress.AlbumTitle;
            self.AlbumArtist = progress.AlbumArtist;
            self.Tracks = ko.observableArray();

            for (var i = 0; i < progress.Tracks.length; i++) {
                self.Tracks.push(new trackViewModel(progress.Tracks[i]));
            }
        }

        function trackViewModel(track) {
            var self = this;
            self.TrackNumber = track.TrackNumber;
            self.Title = track.Title;
            self.Artist = track.Artist;
            self.PercentageComplete = ko.observable(track.PercentageComplete);
        }

        var viewModel;

        $(function() {
            viewModel = new ripperViewModel(@Html.Raw(Model.View));
            ko.applyBindings(viewModel);

            var ripperHub = $.connection.ripperNotificationHub;
            ripperHub.client.onRippingProgress = viewModel.onRippingProgress;
            ripperHub.client.onStatusChanged = viewModel.onStatusChanged;
            $.connection.hub.start()
                .done(function() { console.log('Now connected, connection ID=' + $.connection.hub.id); })
                .fail(function() { console.log('Could not Connect!'); });;
        });
    </script>
}
    <div class="panel panel-default">
        <div class="panel-heading">Current Status</div>
        <div data-bind="ifnot: isRipping" class="panel-body">
            <p>No disc currently inserted</p>
        </div>
        <div data-bind="if: isRipping" class="panel-body">
            <p>Current CD: <strong data-bind="text: progress().AlbumTitle"></strong> by <strong data-bind="text: progress().AlbumArtist"></strong></p>
            <p>
                <button data-bind="click: cancelRipping" type="button" class="btn btn-danger">Cancel Ripping</button>
            </p>
        </div>
        <table data-bind="with: progress()" class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Artist</th>
                    <th>Title</th>
                    <th>Progress</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: Tracks">
                <tr>
                    <td data-bind="text: TrackNumber"></td>
                    <td data-bind="text: Artist"></td>
                    <td data-bind="text: Title"></td>
                    <td>
                        <div class="progress">
                            <div data-bind="style: { width: PercentageComplete() + '%' }, attr:{ 'aria-valuenow': PercentageComplete}" class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                <span data-bind="text: PercentageComplete() + '%'" class="sr-only"></span>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>