@{
	Layout = "layout.cshtml";
}
@section Javascript {
    <script type="text/javascript">
        $(function() {
            $("#container").append("this means javascript works");
        });
        $("#messageSender").click(function () { openHomeServer.notificator.sendNotification("test!", "/Ripper"); });
    </script>
}
hello world!
<br />
<a href="/ripper">Go to ripper</a>
<br />
<button id="messageSender">Send Message</button>
<br />
<div id="container">

</div>

