<!DOCTYPE html>

<html>
	<head>
		<title>@(Model != null ? Model.Title ?? "OpenHomeserver Plugin" : "OpenHomeserver Plugin")</title>
    @RenderSection("Styles", false)
    <script type="text/javascript" src="/Scripts/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.signalR-2.0.1.min.js"></script>
    <script type="text/javascript" src="signalr/hubs"></script>
  </head>
	<body>
    @RenderBody()

    @RenderSection("Javascript", false)
  </body>
</html>