<!DOCTYPE html>

<html>
	<head>
	    <title>@(Model != null ? Model.Title ?? "OpenHomeserver Plugin" : "OpenHomeserver Plugin")</title>
        <link type="text/css" rel="stylesheet" href="/Assets/Styles/toastr.min.css" />
        @RenderSection("Styles", false)
        <script type="text/javascript" src="/Assets/Scripts/jquery-2.1.0.min.js"></script>
	    <script type="text/javascript" src="/Assets/Scripts/jquery.signalR-2.0.1.min.js"></script>
        <script type="text/javascript" src="/Assets/Scripts/toastr.min.js"></script>
        <script type="text/javascript" src="signalr/hubs"></script>
        <script type="text/javascript" src="/Assets/Scripts/OpenHomeServer.js"></script>
    </head>
	<body>
        @RenderBody()

        @RenderSection("Javascript", false)
	    <script type="text/javascript">
        var openHomeServer;
        $(function(){
	          openHomeServer = new openHomeServer();
         });
    	</script>
  </body>
</html>